body {
  font-family:  'Cabin', sans-serif;
}
.nav {
  width:100%;
  height:60px;
}

.navbar-header  a {
  color:white;
  font-family:  'Cabin', sans-serif;
  text-decoration: none;
  font-size: 14px;
}
.jumbotron h2 {
  text-align: center;
  font-family: 'Cabin', sans-serif;
}
col-sm-4 li {
  color:black;
  font-family: 'Cabin', sans-serif;
}
